<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    <div class="header clearfix">
      <div>
        <h1>Startpage Emporium</h1>
        <ul class="nav">
          <li><a href="https://github.com/startpages/startpages.github.io/issues/new">Submit  </a></li>
          <li><a href="https://github.com/startpages">  GitHub  </a></li>
          <!-- <li><a href="https://boards.4chan.org/wg/thread/6863768" target="_blank">  /wg/ Thread</a></li> -->
        </ul>
      </div>
    </div>

    <div class="page-content">
      {{ content }} 
    </div>

  </body>

</html>
